# ENVIRONMENT VARS

# Instructions: https://divjoy.com/docs/google-analytics
GA_TRACKING_ID=

# Instructions: https://divjoy.com/docs/google-sheets
SHEETS_ENDPOINT=
SHEETS_TAB_ID=Sheet1

# CLIENT-SIDE ENVIRONMENT VARS
# Copy values from above

NEXT_PUBLIC_GA_TRACKING_ID=
NEXT_PUBLIC_SHEETS_ENDPOINT=
NEXT_PUBLIC_SHEETS_TAB_ID=Sheet1