<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Employment Experience</h1>
          </div>
        </div>
      </div>
      <section class="box section">
        <div class="is-size-6">
          <div class="content" *ngFor="let job of jobs">
            <div class="level is-marginless">
              <div class="level-left">
                <h2 class="is-marginless">{{job.title}}</h2>
              </div>
              <div class="level-right" style="Vertical-Align:bottom">
                <p class="has-text-weight-light">{{job.startDate | date}} - {{(job.endDate | date) || "Present"}}</p>
              </div>
            </div>
            <div class="level is-marginless">
              <div class="level-left">
                <p class="has-text-weight-light">{{job.employer}}</p>
              </div>
              <div class="level-right">
                <p class="has-text-weight-light">{{job.location}}</p>
              </div>
            </div>
            <p class="is-marginless has-text-justified">{{job.jobSummary}}</p>
            <ul class="has-text-justified" style="margin-top:0;">
              <li *ngFor="let role of job.jobRoles">{{role.Role}}</li>
            </ul>
            <div *ngIf="job.jobTechnologies">
              <h4>Technology Stack</h4>
              <div class="tags">
                <span class="tag {{tech.Color}}" *ngFor="let tech of job.jobTechnologies">{{tech.Technology}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container column is-one-third">
      <section class="box section">
        <div class="is-size-6">
          <figure class="image">
            <img src="assets/images/headShot.png">
          </figure>
          <h1 class="title has-text-centered">Keith Stolte</h1>
          <ul class="fa-ul">
            <li class="email">
              <i class="fa fa-envelope"></i>
              <a href="mailto:keithrstolte@gmail.com">keithrstolte@gmail.com</a>
            </li>
            <li class="github">
              <i class="fa fa-github has-text-github"></i>
              <a href="https://www.github.com/kstolteYDI" target="_blank">github.com/kstolteYDI</a>
            </li>
            <li class="linkedin">
              <i class="fa fa-linkedin-square has-text-linkedin"></i>
              <a href="linkedin.com/in/keithrstolte" target="_blank">Profile</a>
            </li>
            <li class="twitter">
              <i class="fa fa-twitter has-text-twitter"></i>
              <a href="https://twitter.com/sqltrailblazer" target="_blank">@sqlTrailblazer</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="box hero is-small is-github">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-bold">
              <i class="fa fa-github"></i>
              GitHub
            </h1>
            <h2 class="subtitle">Contributed Repositories</h2>
            <article class="media" *ngFor="let repo of contributedRepo.contributedRepositories.edges">
              <figure class="media-left image is-32x32">
                  <img src="{{repo.node.owner.avatarUrl}}" />
              </figure>
              <div class="media-content">
                  <a href="{{repo.node.url}}" target="_blank">{{repo.node.owner.login}} - {{repo.node.name}}</a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
