@import "node_modules/bulma/sass/utilities/_all";
// Setup your colors:
$linkedin: #0077B5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #1DA1F2;
$twitter-invert: findColorInvert($twitter);
$github: #222222;
$github-invert: findColorInvert($github);
$sql: $red;
$sql-invert: findColorInvert($sql);
$netFramework: $purple;
$netFramework-invert: findColorInvert($netFramework);
$graphql: #C62F94;
$graphql-invert: findColorInvert($graphql);

// Add new color variables to the color map.
$addColors: (
    "twitter":($twitter, $twitter-invert), "github": ($github, $github-invert), "linkedin": ($linkedin, $linkedin-invert),
    "sql": ($sql, $sql-invert), "netFramework": ($netFramework, $netFramework-invert), "graphql": ($graphql, $graphql-invert)
);
$colors: map-merge($colors, $addColors);

